
@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <img src="~/Images/Logo.png" class="img-fluid" alt="..." />
</div>

<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Transparent Hands, Providing Free Medical and Surgical Care</h5>
    </div>
</div>