
@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <img src="~/Images/Logo.png" class="img-fluid" alt="..." />
</div>

<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Transparent Hands, Providing Free Medical and Surgical Care</h5>
        <p>
            Transparent Hands is the largest technology platform for crowdfunding in the healthcare sector of Pakistan. We offer a complete range of free healthcare services including medical and surgical treatments and arranging medical camps for the underprivileged community of Pakistan.
            Our goal is to reach millions of needy patients all over Pakistan who are suffering because of a lack of healthcare facilities.
            We continue to serve humanity at large by providing the best healthcare in Pakistan.
        </p>
        <h4>To Apply to work at the NGO, please click on the "NGO Apply" link in the navigation bar at the top of the screen</h4>
        <h4>To Apply for a treatment, please click on the "Treatment" link in the navigation bar at the top of the screen</h4>
        <h4>To donate to the NGO, please click on the "Dontate" link in the navigation bar at the top of the screen</h4>
    </div>
</div>