
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<div id="TreatmentUCNarrative">
    <h3>Treatment Use Case Narrative:</h3>
    <img src="~/Images/Treatment.png" class="img-fluid" alt="..." />
</div>

<div id="NGOApplyUCNarrative">
    <h3>NGO Apply Use Case Narrative:</h3>
    <img src="~/Images/NGOApply.png" class="img-fluid" alt="..." />
</div>

<div id="DonationUCNarrative">
    <h3>Donation Use Case Narrative:</h3>
    <img src="~/Images/Donation.png" class="img-fluid" alt="..." />
</div>

<div id="ClassDiagram">
    <h3>Class Diagram:</h3>
    <img src="~/Images/ClassDiagram.png" class="img-fluid" alt="..." />
</div>