
@{
    ViewBag.Title = "Treatment";
}

<h2>Treatment</h2>

<div class="form-group">
    <label for="name">Enter First Name:</label>
    <input type="text" id="name" name="firstName" /> </br>
    <label for="surname">Enter Surname:</label>
    <input type="text" id="surname" name="surname" /> </br>
    <label for="idNumber">Enter ID Number:</label>
    <input type="text" id="idNumber" name="idNumber" /> </br>
    <label for="cellNumber">Enter Cellphone number:</label>
    <input type="number" id="cellNumber" name="cellNumber" /> </br>
    <label for="treatmentType">Select the treatment:</label>
    <select class="form-control" id="treatmentType" name="treatmentType">
        <option value="1">Vaccination</option>
        <option value="2">STD</option>
    </select> </br>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>